:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: coral;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 100rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #333333;
    --font-family-sans: "Open Sans", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
  }

/* Other styles..... */

.container {
    padding: var(--grid-gutter) 0;
}

h2 {
    margin-top: 6rem;
}

body.dark {
    --bg-color: #000;
    --bg-secondary-color: #131316;
    --font-color: #f5f5f5;
    --color-grey: #ccc;
    --color-darkGrey: #777;
    transition: all .3s ease;
  }