body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: beige;
  margin: 20px;
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

.special-headline {
  font-weight: 900;
  color: indigo;
}

#unique-headline {
  font-weight: 600;
  color: deeppink;
}

h2, h3, h4 {
  font-weight: 600;
  color: #111111;
}

.post {
  border:1px solid black;
  margin-bottom: 20px;
  padding: 10px 20px;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.highlight {
  background-color: black;
  color: beige;
  h2 {
    color: bisque;
  }
}